* {
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

body {
  margin: 0;
}

/* NAVIGATION BAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}

h1 {
  margin: 0;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 10px;
}

/* MAIN BANNER */
main {
  position: relative;
}

img {
  width: 100vw;
  height: 500px;
  object-fit: cover;
  object-position: 50% 15%;
}

.banner-text {
  position: absolute;
  right: 10%;
  top: 40%;
  color: white;
  background: rgba(65, 158, 6, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.banner-text h2 {
  font-size: 50px;
  margin: 0;
}

.banner-text p {
  margin: 0;
  font-size: 30px;
}

/* kebab case: words-skewered-together */
/* HTML classes */

/* camel case: wordsSmushedTogether */
/* JS naming */

/* snake case: words_strung_together */
/* Not super common for HTML or JS */

/* screaming snake case: LOUD_SNAKE_CASE */
/* Even less common in front end work */